<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Производственная работа</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%
        }

        th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<div>
    Добавить <a th:href="@{/hardWork/create}">новую работу</a>
</div>

<table>
    <caption>Производственная работы</caption>
    <thead>
    <tr>
        <th>work_id</th>
        <th>title</th>
        <th>description</th>
        <th>date</th>
        <th>coefficient</th>
        <th>Detail</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hardWork : ${hardWorks}">
        <td th:text="${hardWork.id}"></td>
        <td th:text="${hardWork.title}"></td>
        <td th:text="${hardWork.description}"></td>
        <td th:text="${hardWork.date}"></td>
        <td th:text="${hardWork.coefficient}"></td>
        <td><a th:href="@{/hardWork/{id}(id=${hardWork.id})}">Detail</a></td>
        <td><a th:href="@{/hardWork/{id}/update(id=${hardWork.id})}">Edit</a></td>
        <td><a th:href="@{/hardWork/{id}/delete(id=${hardWork.id})}">Delete</a></td>
<!--        <td>-->
<!--            <form th:action="@{/hardWork/{id}/update}" method="post">-->
<!--                <input type="hidden" th:name="id" th:value="${hardWork.id}"/>-->
<!--                <button type="submit">Изменить</button>-->
<!--            </form>-->
<!--        </td>-->
<!--        <td>-->
<!--            <form th:action="@{/hardWork/{id}/delete}" method="post">-->
<!--                <input type="hidden" th:name="id" th:value="${hardWork.id}"/>-->
<!--                <button type="submit">Удалить</button>-->
<!--            </form>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>
<a th:href="@{/mainPage}">Вернуться на главную страницу.</a>
</body>
</html>