<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Приветственная страница</title>
</head>
<body>
<h1>Добро пожаловать!</h1>
<p>Мы рады приветствовать вас на нашей веб-странице!</p>
<a th:href="@{/users}">Посмотреть всех пользователей.</a>
<a th:href="@{/works}">Посмотреть все работы.</a>
<a th:href="@{/userToWorks}">Посмотреть все отработки.</a>
<a th:href="@{/squadWorks}">Посмотреть отработки отрядов.</a>
<a th:href="@{/logout}">Разлогиниться</a>
</body>
</html>
