<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Отработки</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%
        }

        th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td>
            <table>
                <caption>Посещение социальных отработок</caption>
                <div>
                    Добавить <a th:href="@{/userToSocialWork/create}">новое посещение </a>
                </div>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Coefficient</th>
                    <th>Date</th>
                    <th>Time of work</th>
                    <th>Description</th>
                    <th>FirstName</th>
                    <th>Lastname</th>
                    <th>Patronymic</th>
                    <th>state</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="work : ${userToHardWork}">
                    <td th:text="${work.id}"></td>
                    <td th:text="${work.getWork().getTitle()}"></td>
                    <td th:text="${work.getWork().getCoefficient()}"></td>
                    <td th:text="${work.getWork().getDate()}"></td>
                    <td th:text="${work.getFormattedTimeWork()}"></td>
                    <td th:text="${work.getWork().getDescription()}"></td>
                    <td th:text="${work.getUser().getFirstName()}"></td>
                    <td th:text="${work.getUser().getLastName()}"></td>
                    <td th:text="${work.getUser().getPatronymic()}"></td>
                    <td th:text="${work.getUser().getState()}"></td>
                    <td><a th:href="@{/userToSocialWork/{id}/update(id=${work.id})}">Edit</a></td>
                    <td><a th:href="@{/userToSocialWork/{id}/delete(id=${work.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <caption>Посещение разных отработок</caption>
                <div>
                    Добавить <a th:href="@{/userToHardWork/create}">новое посещение </a>
                </div>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Coefficient</th>
                    <th>Date</th>
                    <th>Time of work</th>
                    <th>Description</th>
                    <th>FirstName</th>
                    <th>Lastname</th>
                    <th>Patronymic</th>
                    <th>state</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="work : ${userToSocialWork}">
                    <td th:text="${work.id}"></td>
                    <td th:text="${work.getWork().getTitle()}"></td>
                    <td th:text="${work.getWork().getCoefficient()}"></td>
                    <td th:text="${work.getWork().getDate()}"></td>
                    <td th:text="${work.getFormattedTimeWork()}"></td>
                    <td th:text="${work.getWork().getDescription()}"></td>
                    <td th:text="${work.getUser().getFirstName()}"></td>
                    <td th:text="${work.getUser().getLastName()}"></td>
                    <td th:text="${work.getUser().getPatronymic()}"></td>
                    <td th:text="${work.getUser().getState()}"></td>
                    <td><a th:href="@{/userToHardWork/{id}/update(id=${work.id})}">Edit</a></td>
                    <td><a th:href="@{/userToHardWork/{id}/delete(id=${work.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
<a th:href="@{/mainPage}">Вернуться на главную страницу.</a>
</html>