<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%
        }

        th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<a th:text="'Все пользователи:'"></a>
<table>
    <thead>
    <tr>
        <th>squadId</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>patronymic</th>
        <th>email</th>
        <th>squadRole</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.squadId != null}
                    ? ${user.squadId.getId()}
                    : -1"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.patronymic}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.squadRole}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/mainPage}">Вернуться на главную страницу.</a>
</body>
</html>