<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Работы</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%
        }

        th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td>
            <table>
                <caption>Социальная работа</caption>
                <thead>
                <tr>
                    <th>work_id</th>
                    <th>title</th>
                    <th>description</th>
                    <th>date</th>
                    <th>coefficient</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="socialWork : ${socialWorks}">
                    <td th:text="${socialWork.id}"></td>
                    <td th:text="${socialWork.title}"></td>
                    <td th:text="${socialWork.description}"></td>
                    <td th:text="${socialWork.date}"></td>
                    <td th:text="${socialWork.coefficient}"></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table>
                <caption>Производственная работы</caption>
                <thead>
                <tr>
                    <th>work_id</th>
                    <th>title</th>
                    <th>description</th>
                    <th>date</th>
                    <th>coefficient</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="hardWork : ${hardWorks}">
                    <td th:text="${hardWork.id}"></td>
                    <td th:text="${hardWork.title}"></td>
                    <td th:text="${hardWork.description}"></td>
                    <td th:text="${hardWork.date}"></td>
                    <td th:text="${hardWork.coefficient}"></td>
<!--                    <td><a th:href="@{'/works/edit?workId='+${hardWork.id}}">Изменить</a></td>-->
                    <td>
                        <form th:action="@{/works/edit}" method="post">
                            <input type="hidden" th:name="workId" th:value="${hardWork.id}"/>
                            <button type="submit">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/works/deleteWork}" method="post">
                            <input type="hidden" th:name="workId" th:value="${hardWork.id}"/>
                            <button type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/mainPage}">Вернуться на главную страницу.</a>
</body>
</html>