<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Работа ' + ${socialWork.id}"></title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%
        }

        th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<form action="#" th:action="@{/socialWork/{id}(id=${socialWork.id})}" th:object="${userToSocialWork}"
      method="post">
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Coefficient</th>
            <th>User</th>
            <th>TimeOfWork</th>
        </tr>
        <tbody>
        <tr>
            <td th:text="${socialWork.title}"></td>
            <td th:text="${socialWork.description}"></td>
            <td th:text="${socialWork.date}"></td>
            <td th:text="${socialWork.coefficient}"></td>

            <td>
                <select th:field="*{user.id}">
                    <option th:each="user : ${appUsers}"
                            th:value="${user.id}"
                            th:text="${user.firstName}">
                    </option>
                </select>
            </td>
            <td>
                <input type="datetime-local" th:field="*{timeOfWork}" id="time" placeholder="Time">
            </td>
        </tr>
        <tr>

        </tr>
        </tbody>
    </table>
    <input type="submit" value="Добавить"/>
    <div>
        <a th:href="@{/socialWorks}">Назад</a> <br>
    </div>

</form>
</body>
</html>