<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/userToSocialWork/create}" th:object="${userToSocialWork}" method="post">
    <table>
        <tr>
            <th>Work</th>
            <th>AppUser</th>
            <th>Время</th>
        </tr>
        <tbody>
        <tr>
            <td>
                <select th:field="*{work.id}">
                    <option th:each="work : ${works}"
                            th:value="${work.id}"
                            th:text="${work.title} +' описание: '+ ${work.description}">
                    </option>
                </select>
            </td>
            <td>
                <select th:field="*{user.id}">
                    <option th:each="user : ${appUsers}"
                            th:value="${user.id}"
                            th:text="${user.firstName} +' '+ ${user.squadId.name}">
                    </option>
                </select>
            </td>
            <td>
                <input type="time" th:field="*{timeOfWorkString}" id="time" placeholder="Time">
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <input type="submit" class="btn btn-secondary" value="Добавить"/>
        <a class="ml-4" th:href="@{/userToWorks}">Отмена</a>
    </div>
</form>
</body>
</html>